doc/NodeRED/flows.json
[{"id":"823e81b.2c24b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1490e4e.ff0aa","type":"ui_button","z":"823e81b.2c24b8","name":"","group":"b4c7c0e5.9d993","order":5,"width":0,"height":0,"passthru":false,"label":"Redémarrer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":1180,"wires":[["d01b3d29.0bd1a","257a1c1f.494bd4"]]},{"id":"864d9cb7.e5567","type":"ui_button","z":"823e81b.2c24b8","name":"","group":"b4c7c0e5.9d993","order":3,"width":0,"height":0,"passthru":true,"label":"Lancer programme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1090,"y":640,"wires":[["37069c08.adbe74","a913d4df.e62d78"]]},{"id":"e8b2e720.7a0648","type":"ui_button","z":"823e81b.2c24b8","name":"","group":"b4c7c0e5.9d993","order":2,"width":0,"height":0,"passthru":false,"label":"Changer MDP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1340,"y":100,"wires":[[]]},{"id":"1995e1b8.a4685e","type":"ui_switch","z":"823e81b.2c24b8","name":"","label":"Activer Notification Mail","tooltip":"","group":"88bc0e5.8e765f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":140,"wires":[["32dd9a71.d3feb6"]]},{"id":"8f537bc7.7ed068","type":"ui_switch","z":"823e81b.2c24b8","name":"","label":"Activer Alerte Lumière","tooltip":"","group":"88bc0e5.8e765f","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1360,"y":200,"wires":[["fadd1486.44cf98"]]},{"id":"8cbc6745.3f3b68","type":"ui_text_input","z":"823e81b.2c24b8","name":"","label":"adresse mail","tooltip":"","group":"88bc0e5.8e765f","order":5,"width":0,"height":0,"passthru":false,"mode":"email","delay":300,"topic":"","x":1330,"y":300,"wires":[["fb5dedb6.8a33e"]]},{"id":"637c9cfc.266c24","type":"ui_led","z":"823e81b.2c24b8","group":"88bc0e5.8e765f","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":990,"y":400,"wires":[]},{"id":"99c20e7f.81a98","type":"ui_text","z":"823e81b.2c24b8","group":"88bc0e5.8e765f","order":1,"width":4,"height":1,"name":"","label":"Nb personne(s) :   ","format":"{{ msg.payload}}","layout":"row-left","x":1020,"y":300,"wires":[]},{"id":"3e592a0.252e3d6","type":"ui_numeric","z":"823e81b.2c24b8","name":"","label":"Limite de personnes","tooltip":"","group":"88bc0e5.8e765f","order":6,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"99","step":1,"x":1360,"y":40,"wires":[["686cee7b.21dfb"]]},{"id":"18a04824.689a98","type":"ui_text_input","z":"823e81b.2c24b8","name":"","label":"mot de passe","tooltip":"","group":"b4c7c0e5.9d993","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1340,"y":260,"wires":[["87e9b2f6.11484"]]},{"id":"afaba636.5ad4a8","type":"rpi-gpio out","z":"823e81b.2c24b8","name":"Relai","pin":"29","set":"","level":"0","freq":"","out":"out","x":1170,"y":440,"wires":[]},{"id":"73c876b8.9b0188","type":"watch","z":"823e81b.2c24b8","name":"watch fichier","files":"/home/pi/Projet_NP/parametre_projet.json","recursive":"","x":350,"y":80,"wires":[[]]},{"id":"5569ef9c.b39c6","type":"file","z":"823e81b.2c24b8","name":"écriture param","filename":"/home/pi/Projet_NP/parametre_projet.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":520,"wires":[["41d5a9aa.186fa8"]]},{"id":"2b6c867.012677a","type":"function","z":"823e81b.2c24b8","name":"set global variables","func":"global.set(\"temps_limite\",msg.payload['temps_limite'])\nglobal.set(\"limite_personne\",msg.payload['limite_personne'])\nglobal.set(\"mdp\",msg.payload['mdp'])\nglobal.set(\"active_mail\",msg.payload['active_mail'])\nglobal.set(\"active_voyant\",msg.payload['active_voyant'])\nglobal.set(\"adresse_mail\",msg.payload['adresse_mail'])\n\nvar msg1 = { payload: msg.payload['limite_personne'] };\nvar msg2 = { payload: msg.payload['mdp']};\nvar msg3 = { payload: msg.payload['adresse_mail']};\nvar msg4 = { payload: msg.payload['active_mail']};\nvar msg5 = { payload: msg.payload['active_voyant']};\n\nmsg.payload = msg.payload['temps_limite']\n\nreturn [msg,msg1,msg2,msg3,msg4,msg5]","outputs":6,"noerr":0,"initialize":"","finalize":"","x":990,"y":80,"wires":[[],["3e592a0.252e3d6"],["18a04824.689a98"],["8cbc6745.3f3b68"],["1995e1b8.a4685e"],["8f537bc7.7ed068"]]},{"id":"dd4154fb.1dfb28","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"","payloadType":"date","x":350,"y":40,"wires":[["81bca0c0.12396"]]},{"id":"fadd1486.44cf98","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set(\"active_voyant\",msg.payload)\nif(msg.payload == false){\n    msg.payload = true\n return msg;   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":200,"wires":[["afaba636.5ad4a8"]]},{"id":"32dd9a71.d3feb6","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set(\"active_mail\",msg.payload)\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1560,"y":140,"wires":[]},{"id":"fb5dedb6.8a33e","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set(\"adresse_mail\",msg.payload)\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1560,"y":300,"wires":[]},{"id":"686cee7b.21dfb","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set(\"limite_personne\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":40,"wires":[[]]},{"id":"81bca0c0.12396","type":"file in","z":"823e81b.2c24b8","name":"lecture_fichier","filename":"/home/pi/Projet_NP/parametre_projet.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":560,"y":80,"wires":[["56d8b72e.64bae8"]]},{"id":"56d8b72e.64bae8","type":"json","z":"823e81b.2c24b8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":80,"wires":[["2b6c867.012677a","c141eb7.9b95218"]]},{"id":"4eb7de5.803342","type":"function","z":"823e81b.2c24b8","name":"","func":"var mail = global.get('adresse_mail')\nvar limite_t = global.get('temps_limite')\nvar limite_p = global.get('limite_personne')\nvar mdp = global.get('mdp')\nvar a_mail = global.get('active_mail')\nvar a_v = global.get('active_voyant')\n\n\nmsg.payload = {adresse_mail: mail,temps_limite: limite_t,limite_personne: limite_p,mdp: mdp,active_mail: a_mail,active_voyant:a_v};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":520,"wires":[["cfe7e5ef.a7e768"]]},{"id":"373782c0.1aa26e","type":"debug","z":"823e81b.2c24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":660,"wires":[]},{"id":"40662f30.0dd4c","type":"ui_button","z":"823e81b.2c24b8","name":"","group":"88bc0e5.8e765f","order":7,"width":0,"height":0,"passthru":false,"label":"Sauvegarder Param","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":520,"wires":[["4eb7de5.803342"]]},{"id":"cfe7e5ef.a7e768","type":"json","z":"823e81b.2c24b8","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":520,"wires":[["373782c0.1aa26e","5569ef9c.b39c6"]]},{"id":"b9261566.ce88c8","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["4eb7de5.803342"]]},{"id":"c141eb7.9b95218","type":"debug","z":"823e81b.2c24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"a25813e3.b4c49","type":"watch","z":"823e81b.2c24b8","name":"watch fichier","files":"/tmp/nombre.json","recursive":"","x":310,"y":320,"wires":[["6e531c77.fab1c4"]]},{"id":"6e531c77.fab1c4","type":"file in","z":"823e81b.2c24b8","name":"lecture_nombre","filename":"/tmp/nombre.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":320,"wires":[["26127e92.379962","99c20e7f.81a98","1ebf75f8.e8621a","b266c739.9bd4e8"]]},{"id":"bb9df9da.b51ad8","type":"debug","z":"823e81b.2c24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":360,"wires":[]},{"id":"26127e92.379962","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set('nombre_personne',parseInt(msg.payload))\nif(parseInt(msg.payload) > global.get('limite_personne')){\n    msg.payload = false\n    \n}else{\n    msg.payload = true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":360,"wires":[["bb9df9da.b51ad8","637c9cfc.266c24","3df20cbe.7c94c4"]]},{"id":"b0208a14.71c428","type":"timeouttrigger","z":"823e81b.2c24b8","ontimeouttype":"num","ontimeoutval":"-1","duration":"30","units":"s","name":"","x":990,"y":500,"wires":[["916dc969.efda18"]]},{"id":"1f986466.a620fc","type":"e-mail","z":"823e81b.2c24b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1350,"y":500,"wires":[]},{"id":"916dc969.efda18","type":"function","z":"823e81b.2c24b8","name":"","func":"if(global.get('active_mail') && msg.payload == -1 && global.get('running')){\n    msg.to = global.get('adresse_mail')\n    msg.topic = \"Limite de personne reached.\"\n    msg.payload = \"Le nombre de personne dans la salle est trop important. nombre : \"\n    msg.payload += global.get('nombre_personne')\n    msg.payload += \" sur \" + global.get('limite_personne') + \" ! \"\n    return msg;  \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":500,"wires":[["7950fc54.a5cee4","1f986466.a620fc"]]},{"id":"7950fc54.a5cee4","type":"debug","z":"823e81b.2c24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":560,"wires":[]},{"id":"55d302df.0b723c","type":"comment","z":"823e81b.2c24b8","name":"sauvegarde","info":"sauvegarde des paramètres dans le fichier lors d'un appuie bouton.","x":210,"y":480,"wires":[]},{"id":"fce8c850.ce0b58","type":"comment","z":"823e81b.2c24b8","name":"Set all","info":"","x":370,"y":120,"wires":[]},{"id":"a35acfbe.366d1","type":"comment","z":"823e81b.2c24b8","name":"Alerte","info":"","x":310,"y":280,"wires":[]},{"id":"3df20cbe.7c94c4","type":"function","z":"823e81b.2c24b8","name":"","func":"if(global.get('active_voyant') == true){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":440,"wires":[["afaba636.5ad4a8"]]},{"id":"41d5a9aa.186fa8","type":"debug","z":"823e81b.2c24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":640,"wires":[]},{"id":"87e9b2f6.11484","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set(\"mdp\",msg.payload)\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1560,"y":260,"wires":[]},{"id":"d01b3d29.0bd1a","type":"exec","z":"823e81b.2c24b8","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":1180,"wires":[[],[],[]]},{"id":"26335915.c10766","type":"exec","z":"823e81b.2c24b8","command":"sudo touch /tmp/nombre.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":720,"wires":[["864d9cb7.e5567","f08a866c.364388"],[],[]]},{"id":"1ebf75f8.e8621a","type":"function","z":"823e81b.2c24b8","name":"","func":"if(parseInt(msg.payload) <= global.get('limite_personne')){\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":440,"wires":[["b0208a14.71c428"]]},{"id":"c47df210.cccc8","type":"exec","z":"823e81b.2c24b8","command":"sudo rm /tmp/nombre.json","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1120,"y":1120,"wires":[["59abce59.ee22f"],["59abce59.ee22f"],["59abce59.ee22f"]]},{"id":"1f47b24c.d7df7e","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":1120,"wires":[["c47df210.cccc8"]]},{"id":"59abce59.ee22f","type":"debug","z":"823e81b.2c24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":1120,"wires":[]},{"id":"43b42c97.ee2ad4","type":"exec","z":"823e81b.2c24b8","command":"sudo pkill -f matrice_led.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1120,"y":860,"wires":[[],[],[]]},{"id":"fd50de9d.0c8e9","type":"ui_button","z":"823e81b.2c24b8","name":"","group":"b4c7c0e5.9d993","order":4,"width":0,"height":0,"passthru":true,"label":"Stop programme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":920,"wires":[["43b42c97.ee2ad4","e6136ae4.3114f8","257a1c1f.494bd4","d1fe11e5.827e7"]]},{"id":"e6136ae4.3114f8","type":"exec","z":"823e81b.2c24b8","command":"sudo pkill -f TFLite_detection_webcam.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1080,"y":920,"wires":[[],[],[]]},{"id":"257a1c1f.494bd4","type":"exec","z":"823e81b.2c24b8","command":"sudo python /home/pi/Projet_NP/rpi-rgb-led-matrix/bindings/python/samples/clean_matrice.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Clean matrice","x":1160,"y":980,"wires":[[],[],[]]},{"id":"24e32c13.902b34","type":"exec","z":"823e81b.2c24b8","command":"sudo python /home/pi/Projet_NP/rpi-rgb-led-matrix/bindings/python/samples/matrice_led.py --led-rows=16 --led-slowdown-gpio=4 --led-no-hardware-pulse=false","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"RUN Matrice","x":1450,"y":640,"wires":[[],[],[]]},{"id":"1e47b985.eeac06","type":"exec","z":"823e81b.2c24b8","command":"/home/pi/Projet_NP/test.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"RUN TF 1","x":1440,"y":720,"wires":[[],[],[]]},{"id":"f08a866c.364388","type":"exec","z":"823e81b.2c24b8","command":"sudo chmod 777 /tmp/nombre.json","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Droit nombre.json","x":1090,"y":700,"wires":[[],[],[]]},{"id":"594cced9.31797","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":460,"y":720,"wires":[["26335915.c10766"]]},{"id":"d76150e5.5c05b","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"100","topic":"","payload":"","payloadType":"date","x":330,"y":220,"wires":[["6e531c77.fab1c4","b0208a14.71c428"]]},{"id":"b266c739.9bd4e8","type":"delay","z":"823e81b.2c24b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":260,"wires":[["e06b6011.a3c34"]]},{"id":"186946b5.30aa29","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":580,"wires":[["916dc969.efda18"]]},{"id":"25169a10.ee3e26","type":"inject","z":"823e81b.2c24b8","name":"heure ouverture","props":[{"p":"payload"}],"repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":980,"wires":[["26335915.c10766"]]},{"id":"83a2139c.58bb6","type":"inject","z":"823e81b.2c24b8","name":"heure fermeture","props":[{"p":"payload"}],"repeat":"","crontab":"00 22 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1060,"wires":[["fd50de9d.0c8e9"]]},{"id":"1b40d2a0.ada64d","type":"comment","z":"823e81b.2c24b8","name":"Heure de début","info":"","x":320,"y":940,"wires":[]},{"id":"3c691e49.303a92","type":"comment","z":"823e81b.2c24b8","name":"Heure de fin","info":"","x":310,"y":1020,"wires":[]},{"id":"37069c08.adbe74","type":"function","z":"823e81b.2c24b8","name":"Set running","func":"global.set('running',true)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1450,"y":860,"wires":[]},{"id":"d1fe11e5.827e7","type":"function","z":"823e81b.2c24b8","name":"Set running","func":"global.set('running',false)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1040,"wires":[]},{"id":"a19cb366.fef7b","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":460,"y":780,"wires":[["dd67d8cf.1dc448"]]},{"id":"dd67d8cf.1dc448","type":"exec","z":"823e81b.2c24b8","command":"sudo touch /tmp/nombre.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":780,"wires":[["43ed87b3.b2c318"],[],[]]},{"id":"43ed87b3.b2c318","type":"exec","z":"823e81b.2c24b8","command":"sudo chmod 777 /tmp/nombre.json","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Droit nombre.json","x":1090,"y":780,"wires":[[],[],[]]},{"id":"e06b6011.a3c34","type":"ui_chart","z":"823e81b.2c24b8","name":"","group":"804d6ca6.5b2d1","order":1,"width":"5","height":"4","label":"Nombre de personnes","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#b26f34","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1040,"y":260,"wires":[[]]},{"id":"9be7f9da.3d7e28","type":"inject","z":"823e81b.2c24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1670,"y":480,"wires":[["4813d986.301ec8"]]},{"id":"4813d986.301ec8","type":"function","z":"823e81b.2c24b8","name":"","func":"global.set('running',true)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":480,"wires":[[]]},{"id":"764ce22c.1b0cbc","type":"debug","z":"823e81b.2c24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1690,"y":780,"wires":[]},{"id":"a913d4df.e62d78","type":"exec","z":"823e81b.2c24b8","command":"/home/pi/Projet_NP/run.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"RUN TF 1","x":1440,"y":800,"wires":[[],["764ce22c.1b0cbc"],[]]},{"id":"b4c7c0e5.9d993","type":"ui_group","name":"Control","tab":"2bcf6583.af383a","order":2,"disp":true,"width":"6","collapse":false},{"id":"88bc0e5.8e765f","type":"ui_group","name":"Alerte","tab":"2bcf6583.af383a","order":1,"disp":true,"width":"5","collapse":false},{"id":"804d6ca6.5b2d1","type":"ui_group","name":"Graph","tab":"2bcf6583.af383a","order":3,"disp":true,"width":"6","collapse":false},{"id":"2bcf6583.af383a","type":"ui_tab","name":"Projet","icon":"dashboard","disabled":false,"hidden":false}]